.movie-card {
  width: 454px;
  height: 300px;
  box-shadow: 2px 3px 15px 5px #e5e5e5;
  display: flex;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.movie-card__image {
  width: 183px;
  height: 300px;
}

.movie-card__body {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card__title {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 10px;
}

.movie-card__date {
  color: #827e7e;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 10px;
}

.movie-card__categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-card__category {
  background-color: #ffffff;
  padding: 4px;
  border: #d9d9d9 solid 1px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 15px;
  color: #000000a6;
  margin-right: 8px;
}

.movie-card__info {
  font-size: 12px;
  line-height: 22px;
}

.movie-card__header {
  display: flex;
  justify-content: space-between;
}

.movie-card__average-rating {
  width: 20px;
  height: 20px;
  padding: 8px;
  border-radius: 30px;
  border: black 2px solid;
  justify-content: center;
  display: flex;
}

.red-rating {
  border-color: #e90000;
}

.orange-rating {
  border-color: #e97e00;
}

.yellow-rating {
  border-color: #e9d100;
}

.green-rating {
  border-color: #66e900;
}
