body {
  background-color: #e5e5e5;
}

.movies-container {
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 19px 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
}
