html,
body {
  background-color: #e5e5e5;
  margin: 0;
  font-family: "Inter", sans-serif;
  height: 100%;
}
#root {
  height: inherit;
}

.movies-container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 19px 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
}

.body-container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}

.not-found {
  width: 500px;
  font-size: 30px;
  margin: 0 auto;
  background-color: #ffffff;
}

.ant-pagination {
  margin: 0 auto;
  width: max-content;
}
